<!-- items/newのNew Genreによるrender先 -->

<section id="open-genre" class="modalarea">
  <div id="modalbg" class="modalbg"></div>
  <div class="modalwrapper">
    <div class="modalcontents">
<!--モーダルエリアここまで -->

    <div class="container">
      <h2>New Genre</h2>
      <div>
        <%= form_for(@genre) do |f| %>
          <%= f.text_field :genre_name %>
          <%= f.submit 'Create Genre' %>
        <% end %>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Genre Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.genre_name %></td>
          <td><%= link_to "Destroy", genre_path(genre), method: :delete, class: "btn-xs btn-danger", "data-confirm" => "本当に消しますか?" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
<!-- モーダルエリアここから -->
    </div>
    <div id="closemodal" class="closemodal">
      ×
    </div>
  </div>
</section>
