<h1>Receivers</h1>
<%= link_to "Edit", edit_user_receiver_path(current_user, @receivers), class: "btn-default" %>
<table class="table table-hover">
  <thead>
  	<tr>
      <th>Receiver Name</th>
      <th>Post Code</th>
      <th>Address</th>
      <th>Phone Number</th>
    </tr>
  <tbody>
		<% @receivers.each do |receiver| %>
  		<tr>
				<td><%= receiver.receiver_name %></td>
				<td><%= receiver.receiver_post_code %></td>
				<td><%= receiver.receiver_address %></td>
				<td><%= receiver.receiver_phone_number %></td>
			</tr>
		<% end %>
  <tbody>
</table>