<h1>宛先一覧</h1>
<%= @receivers.each do |receiver| %>
	<%= receiver.receiver_name %>
	<%= receiver.receiver_post_code %>
	<%= receiver.receiver_address %>
	<%= link_to "編集", edit_receiver_path(receiver) %>
	<%= link_to "削除", receiver_path(receiver), method: :delete %>
<% end %>
