<!-- items/newのNew Artistによるrender先 -->

<section id="open-artist" class="modalarea">
  <div id="modalbg" class="modalbg"></div>
  <div class="modalwrapper">
    <div class="modalcontents">
<!--モーダルエリアここまで -->

    <div class="container">
      <h2>New Artist</h2>
      <div>
        <%= form_for(@artist) do |f| %>
          <%= f.text_field :artist_name %>
          <%= f.submit 'Create Artist' %>
        <% end %>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Artist Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= artist.artist_name %></td>
          <td><%= link_to "Destroy", artist_path(artist), method: :delete, class: "btn-xs btn-danger", "data-confirm" => "本当に消しますか?" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
<!-- モーダルエリアここから -->
    </div>
    <div id="closemodal" class="closemodal">
      ×
    </div>
  </div>
</section>
