<!-- items/newのNew Labelによるrender先 -->

<section id="open-label" class="modalarea">
  <div id="modalbg" class="modalbg"></div>
  <div class="modalwrapper">
    <div class="modalcontents">
<!--モーダルエリアここまで -->

		<div class="container">
	  	<h2>New Label</h2>
	  	<div>
				<%= form_for(@label) do |f| %>
					<%= f.text_field :label_name %>
					<%= f.submit 'Create Label' %>
				<% end %>
	  	</div>
	  </div>

   	<table class="table">
      <thead>
        <tr>
          <th>Label Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @labels.each do |label| %>
        <tr>
          <td><%= label.label_name %></td>
          <td><%= link_to "Destroy", label_path(label), method: :delete, class: "btn-xs btn-danger", "data-confirm" => "本当に消しますか?" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
<!-- モーダルエリアここから -->
    </div>
    <div id="closemodal" class="closemodal">
      ×
    </div>
  </div>
</section>
