<!-- Receiver内容の編集画面 -->
<div class="container">
  <div class="row">

    <div class="col-md-10 col-md-offset-1 clearfix">
    	<h1>Edit Receivers</h1>
		</div>

		<div class="col-md-8 col-md-offset-2 clearfix">
			<label>Receiver Name</label>
			<label style="margin-left:80px" >Post Code</label>
			<label style="margin-left:110px">Address</label>
			<label style="margin-left:120px">Phone Number</label>
<!-- cocoon -->
  		<%= form_for(@user) do |f| %>
				<div class="field">
			  	<%= f.fields_for :receivers do |r| %>
			    	<%= render 'receiver_fields', f: r %>
			  	<% end %>
				</div>

				<div class="field">
			  	<%= link_to_add_association 'Receiver +', f, :receivers,
			  		data: { association_insertion_method: 'before' },
			  		class: "btn-default" %>
				</div>

				<%= f.submit 'Update Receiver', class: "btn-default" %>
			<% end %>
<!-- cocoon -->
	  	<div class="back-mypage">
	    	<%= link_to 'Back', :back %>
	  	</div>
		</div>

	</div>
</div>