<%= form_tag users_path, :method => 'get' do %> 
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table class="table">
	<thead>
		<tr>
			<th>User name</th>
			<th>Japanese_syllabaries</th>
			<th>Address</th>
			<th>Email</th>
			<th>Phone_number</th>
			<th></th>

		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.japanese_syllabaries %></td>
			<td><%= user.address %></td>
			<td><%= user.email %></td>
			<td><%= user.phone_number %></td>
			<td><%= link_to "Destroy", users_path(@user), method: :delete, "data-confirm" => "本当に消しますか?" %></td>

		</tr>
		<% end %>

	</tbody>
</table>