
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="contact">
      <h1>What do you want to contact us ?</h1>

        <div class="contact-tab">
          <ul class="tab">
            <li class="select">Contact</li>
            <li>Request</li>
            <li>Members return</li>
          </ul>

          <ul class="content">
            <li>
              <%= form_for(@contact) do |f| %>
              <div class="field row">
              <label>Your Name</label><br>
              <%= f.text_field :name %>
              </div>
              <div class="field row">
              <label>Your E-mail</label><br>
              <%= f.email_field :email %>
              </div>
              <div class="field row">
              <label>Your Message</label><br>
              <%= f.text_area :body %>
              </div>
              <div class="action row">
              <%= f.submit 'Send' %>
              </div>
              <% end %>
            </li>

            <li class="hide">
               <%= form_for(@contact) do |f| %>
              <div class="field row">
              <label>Your Name</label><br>
              <%= f.text_field :name %>
              </div>
              <div class="field row">
              <label>Your E-mail</label><br>
              <%= f.email_field :email %>
              </div>
              <div class="field row">
              <label>Your Rquest</label><br>
              <%= f.text_area :body %>
              </div>
              <div class="action row">
              <%= f.submit 'Send' %>
              </div>
              <% end %>
            </li>

            <li class="hide">
               <%= form_for(@contact) do |f| %>
              <div class="field row">
              <label>Your Name</label><br>
              <%= f.text_field :name %>
              </div>
              <div class="field row">
              <label>Your E-mail</label><br>
              <%= f.email_field :email %>
              </div>
              <div class="field row">
              <label>Your Message</label><br>
              <%= f.text_area :body %>
              </div>
              <div class="action row">
              <%= f.submit 'Send' %>
              </div>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

