<div class="container">
  <div class="row">
    <h1>Cart</h1>
    <% if @cart_items.blank? %>
			<strong>Your cart is empty</strong>
		<% else %>
      <table class="table">
        <thead>
          <tr>
            <th>Release date</th>
            <th>Details</th>
            <th>Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.release_date %></td>
              <td><%= link_to (attachment_image_tag cart_item.item, :item_image, :fill, 100, 100,
              class: "pull-left profile-thumb", fallback: "no_image_big.jpg", alt: "Item Image"), item_path(cart_item.item) %>
              <%= link_to cart_item.item.item_name, item_path(cart_item.item) %>
              ¥<%= cart_item.item.price %></td>
              <td>
                <% if cart_item.item.stock != 0 %>
                  <%= form_for(cart_item, url: update_item_path(cart_item), method: :patch ) do |f| %>
                    <%= f.number_field :quantity, min: 1, max: cart_item.item.stock, onchange: "submit(this.form)" %>
                  <% end %>
                <% else %>
                  <p>It's out of stock</p>
                <% end %>
              </td>
              <td>
                <%= link_to "Delete", delete_item_path(cart_item), method: :delete,
                class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="col-xs-8">
        <%= paginate @cart_items, class: "pagenate" %>
      </div>
      <div class="col-xs-2">
        <p>¥<%= @grand_total %></p>
      </div>
      <div class="col-xs-2">
        <%= link_to "Proceed to checkout", new_order_path, class: "btn btn-info" %>
      </div>
		<% end %>

  </div>
</div>
