<div class="container">
  <div class="row">

    <div class="col-xs-8">
			<h3><%= @user.name %>'s Cart</h3>
	  </div>

	  <div class="col-xs-4">
	    <h2>Buy these items?</h2>
			<%= @cart_items.each do |cart_item| %>
				<%= cart_item.item.item_name %>
				<%= cart_item.quantity %>
				<%= form_for(cart_item, url: update_item_path(cart_item), method: :patch ) do |f| %>
				  <%= f.number_field :quantity %>
				  <%= f.submit %>
				<% end %>
				<%= link_to "削除", delete_item_path(cart_item), method: :delete %><br/><br />
			<% end %>

			<%= link_to "購入画面へ", new_order_path %>
	  </div>


  <%= @cart_items.each do |cart_item| %>
    <%= cart_item.item.item_name %>
    <%= cart_item.quantity %>
    <%= link_to "削除", delete_item_path, method: :delete %>
  <% end %>

  </div>
</div>

<%= @cart_items.each do |cart_item| %>
	<%= cart_item.item.item_name %>
	<%= cart_item.quantity %>
	<%= link_to "削除", delete_item_path, method: :delete %>
<% end %>
