<div class="container">
  <div class="row">
    <div class="col-xs-12">
			<h1><%= @item.item_name %></h1>

<!-- エラー文 -->
			<% if @item.errors.any? %>
	      <div class="error-explanation">
	        <h2><%= @item.errors.count %>errors occured</h2>
	        <ul>
	          <% @item.errors.full_messages.each do |message| %>
	            <li><%= message %></li>
	          <% end %>
	        </ul>
	      </div>
	    <% end %>
<!-- エラー文 -->

			<%= form_for(@item) do |f| %>
			<ul style=" list-style: none;">
				<li>
					<label>Single/Album name</label>
					<%= f.text_field :item_name, class: "col-xs-12 book_title" %>
				</li>
				<li>
					<label>Cover Image</label>
					<%= f.attachment_field :item_image %>
				</li>
				<li>
					<label>Release</label>
					<%= f.date_select(
        	:release_date,
        	start_year: 1980,
        	end_year:   (Time.now.year),
        	default:    Date.new(Time.now.year, 1, 1)) %>
				</li>
				<li>
					<label>Price</label>
					<%= f.text_field :price, class: "col-xs-12" %>
				</li>
				<li>
					<label>Stock</label>
					<%= f.text_field :stock, class: "col-xs-12" %>
				</li>
				<li>
					<label>Label_name</label>
					<%= f.select :label_id, @labels.map { |t| [t.label_name, t.id] } %>
				</li>

				<li>
					<label>Artist_name</label>
					<%= f.select :artist_id, @artists.map { |t| [t.artist_name, t.id] } %>
				</li>

				<li>
					<label>Genre_name</label>
					<%= f.select :genre_id, @genres.map { |t| [t.genre_name, t.id] } %>
				</li>
				<li>
					<label>Opinion</label>
					<%= f.text_area :opinion, class: "col-xs-12" %>
				</li>

<!-- cocoon -->

				<li>
					<label>Discs</label>
					<div class="field">
				    <%= f.fields_for :discs do |d| %>
				      <%= render 'disc_fields', f: d %>
				    <% end %>
				  </div>

				  <div class="field">
				  	<%= link_to_add_association 'Disc +', f, :discs,
				  		data: { association_insertion_method: 'before' },
				  		class: "btn-md btn-default" %>
				  </div>
				</li>

<!-- cocoon -->

				<li style="margin-top: 10px;">
					<%= f.submit 'Update Item', class: "btn-default" %>
				</li>
			</ul>
			<% end %>

			<%= link_to 'Back', item_path(@item) %>
		</div>
	</div>
</div>
