<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>商品検索</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Single/Album name</th>
            <th>Opinion</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |items| %>
            <tr>
              <td>
               <%= attachment_image_tag items, :item_image_id, :fill, 40, 40, fallback: "no_image_small.jpg", alt:"Cover image"%>
              </td>
              <td>
                <%= link_to items.item_name, item_path(items.id) %>
              </td>
              <td>
                <%= items.opinion %>
              </td>
              <td>
                <p>￥<%= items.price %></p>
              </td>
              <td>
                <% if items.stock == 0 %>
                  <p style="color: red;">Sold Out!!</p>
                <% else %>
                  <p>Stock: <%= items.stock %></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        <tbody>
      </table>
      <%= link_to "セッションを消す", "/items/session" %>

  	<%= link_to 'Newページ', new_item_path %>
  	<%= paginate @items, class: "pagenate" %>
    </div>
  </div>
</div>