<div class="container">
  <div class="row">
    <div class="col-xs-12">
			<h1>newページ</h1>
			<h2>商品投稿</h2>
			<%= form_for(@item) do |f| %>
			<h3>New item</h3>

				<table>
					<dt>
						<label>Single/Album name</label>
						<%= f.text_field :item_name %>
					</dt>

					<dt>
						<label>Cover Image</label>
						<%= f.attachment_field :item_image %>
					</dt>

					<dt>
						<label>Artist name</label>
					</dt>

					<dt>
						<label>Release date</label>
					</dt>

					<dt>
						<label>Price</label>
						<%= f.text_field :price %>
					</dt>

					<dt>
						<label>Stock</label>
						<%= f.text_field :stock %>
					</dt>

					<dt>
						<label>Item_name</label>
					</dt>

					<dt>
						<label>Genre</label>
					</dt>

					<dt>
						<label>Label_name</label>
					</dt>

					<dt>
						<label>Opinion</label>
						<%= f.text_area :opinion %>
					</dt>

					<dt>
						<label>Music name</label>
					</dt>
				</table>
				<%= f.submit 'Create Item', class: "item_create" %>

			<% end %>
			<%= link_to '商品一覧', items_path %>
    </div>  
  </div>
</div>