<div class="container">
  <div class="row">
    <div class="col-xs-12">
			<h1>New Item</h1>
<!-- エラー文 -->
			<% if @item.errors.any? %>
	      <div class="error-explanation">
	        <h2><%= @item.errors.count %>件のエラーが発生しました。</h2>
	        <ul>
	          <% @item.errors.full_messages.each do |message| %>
	            <li><%= message %></li>
	          <% end %>
	        </ul>
	      </div>
	    <% end %>
<!-- エラー文 -->


<!-- モーダル -->
			<div id="modal-label" class="btn btn-md btn-primary"  >New Label</div>
      <%= render "labels/new_modal" %>
			<div id="modal-artist" class="btn btn-md btn-primary" >New Artist</div>
      <%= render "artists/new_modal" %>
			<div id="modal-genre" class="btn btn-md btn-primary"  >New Genre</div>
      <%= render "genres/new_modal" %>
<!-- form要素の中にモーダルを入れてしまうと、モーダル上でのsubmitが
	formのsubmitと認識されてしまう→モーダルをform要素外に出している -->
<!-- モーダル -->

			<%= form_for(@item) do |f| %>

				<ul style="margin-top: 10px;">
					<li>
						<label>Single/Album name</label>
						<%= f.text_field :item_name %>
					</li>

					<li>
						<label>Cover Image</label>
						<%= f.attachment_field :item_image %>
					</li>

					<li>
						<label>Release date</label>
						<%= f.date_select(
          	:release_date,
          	start_year: 1980,
          	end_year:   (Time.now.year),
          	default:    Date.new(Time.now.year, 1, 1)) %>
					</li>

					<li>
						<label>Price</label>
						<%= f.number_field :price %>
					</li>

					<li>
						<label>Stock</label>
						<%= f.number_field :stock %>
					</li>

					<li>
						<label>Label_name</label>
						<%= f.select :label_id, @labels.map { |t| [t.label_name, t.id] } %>
					</li>

					<li>
						<label>Opinion</label>
						<%= f.text_area :opinion %>
					</li>

<!-- cocoon -->

					<li>
						<label>Discs</label>
						<div class="field">
					    <%= f.fields_for :discs do |d| %>
					      <%= render 'disc_fields', f: d %>
					    <% end %>
					  </div>

					  <div style="margin-top: 10px;" class="field">
					  	<%= link_to_add_association 'Disc +', f, :discs,
					  		data: { association_insertion_method: 'before' },
					  		class: "btn-lg btn-primary" %>
					  </div>
					</li>

<!-- cocoon -->
				</ul>
				<%= f.submit 'Create Item', class: "item_create" %>
			<% end %>
    </div>  
  </div>
</div>