<div class="container">
  <div class="row">
    <div class="col-xs-12">
			<h1>newページ</h1>
			<h2>商品投稿</h2>
			<%= form_for(@item) do |f| %>
			<h3>New item</h3>

				<ul>
					<li>
						<label>Single/Album name</label>
						<%= f.text_field :item_name %>
					</li>

					<li>
						<label>Cover Image</label>
						<%= f.attachment_field :item_image %>
					</li>

					<li>
						<label>Release date</label>
						<%= f.date_select(
          	:release_date,
          	start_year: 1980,
          	end_year:   (Time.now.year),
          	default:    Date.new(Time.now.year, 1, 1)) %>
					</li>

					<li>
						<label>Price</label>
						<%= f.text_field :price %>
					</li>

					<li>
						<label>Stock</label>
						<%= f.text_field :stock %>
					</li>

					<li>
						<label>Label_name</label>
						<%= f.select :label_id, @labels.map { |t| [t.label_name, t.id] } %>
					</li>

					<li>
						<label>Opinion</label>
						<%= f.text_area :opinion %>
					</li>

<!-- cocoon -->

					<li>
						<label>Discs</label>
						<div class="field">
					    <%= f.fields_for :discs do |d| %>
					      <%= render 'disc_fields', f: d %>
					    <% end %>
					  </div>

					  <div class="field">
					  	<%= link_to_add_association 'Disc +', f, :discs,
					  		data: { association_insertion_method: 'before' },
					  		class: "btn btn-md btn-primary"%>
					    <!-- discの追加 -->
					  </div>
					</li>

<!-- cocoon -->
				</ul>
				<%= f.submit 'Create Item', class: "item_create" %>

			<% end %>

<!-- form要素の中にモーダルを入れてしまうと、モーダル上でのsubmitが
	formのsubmitと認識されてしまう→モーダルをform要素外に出している -->
<!-- モーダル -->
			<div id="modal-label" class="btn btn-xs btn-default" >New Label</div>
      <%= render "labels/new_modal" %>
			<div id="modal-artist" class="btn btn-xs btn-default" >New Artist</div>
      <%= render "artists/new_modal" %>
			<div id="modal-genre" class="btn btn-xs btn-default" >New Genre</div>
      <%= render "genres/new_modal" %>
<!-- モーダル -->

			<%= link_to '商品一覧', items_path %>
    </div>  
  </div>
</div>