<div class="container">
  <div class="row">
    <div class="col-xs-8">
        <h1><%= @item.item_name %></h1>
        <%= attachment_image_tag @item, :item_image, :fill, 100, 100, class: "pull-left profile-thumb", fallback: "no_image_big.jpg", alt: "Item Image" %>
        <p>￥<%= @item.price %></p>
        <p>stock:<%= @item.stock %></p>
        <% if @item.favorited_by?(current_user) %>
        <li>
        <%= link_to item_favorites_path(@item), method: :delete do %>
        <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
        <%= @item.favorites.count %> favorit
        <% end %>
        </li>
        <% else %>
        <li>
        <%= link_to item_favorites_path(@item), method: :post do %>
        <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
        <%= @item.favorites.count %> favorit
        <% end %>
        </li>
        <% end %>
        <div>
        <%= link_to "Edit", edit_item_path(@item), class: "btn-sm btn-success" %>
        <%= link_to "Destroy", items_path(@item), method: :delete, class: "btn-sm btn-danger", "data-confirm" => "本当に消しますか?" %>
        </div>

        <!-- commennt -->

        <div>
        <h4>Rewiew</h4>
        <div id="reviews_area">
        <% @item.reviews.each do |review| %>
        <% unless review.id.nil? %>
        <p>Reviewer：<%= review.reviewer_name %></p>
        <p>Review：<%= review.review_text %></p>
        <p><%= link_to 'コメントを削除する', item_reviews_path(item_id: review.item_id, review_id: review.id), method: :delete %>
        </p>
        <% end %>
        <% end %>
        </div>
        <%= form_with(model: [@item, @review] ) do |form| %>
        <div>
        <%= form.text_field :reviewer_name %>
        </div>
        <div>
        <%= form.text_area :review_text %>
        </div>
        <div class="actions">
        <%= form.submit "コメントをする" %>
        </div>
        <% end %>
        </div>

        <!-- comment -->

	    <div class="col-xs-4">

	    <%= attachment_image_tag @item, :item_image, :fill, 100, 100, class: "pull-left profile-thumb", fallback: "no_image_big.jpg", alt: "Item Image" %>
	    <p>￥<%= @item.price %></p>
	    <p>stock:<%= @item.stock %></p>
	  </div>

	  <div class="col-xs-4">
	    <h1>カート</h1>
	    <%= link_to "Edit", edit_item_path(@item), class: "btn-sm btn-success" %>
	    <%= link_to "Destroy", items_path(@item), method: :delete, class: "btn-sm btn-danger", "data-confirm" => "本当に消しますか?" %>
	  </div>

<<<<<<< HEAD
  </div>
  <%= link_to 'Back', items_path %>
</div>

<% if @item.stock == 0 %>
	<p>It's out of stock</p>
<% elsif @item.stock == @cart_item_quantity %>
	<p>Can not add any more</p>
<% else %>
  <%= form_for(@cart_item, url: add_item_path(@item.id) ) do |f| %>
    <%= f.select :quantity, [*1..@item.stock - @cart_item_quantity] %>
    <%= f.submit "Add to cart", class: "btn btn-success btn-sm" %>
  <% end %>  
<% end %>
=======
<% if @item.stock != 0 %>
  <%= form_for(@cart_item, url: add_item_path(@item.id) ) do |f| %>
    <%= f.select :quantity, [*1..@item.stock] %>
    <%= f.submit "Add to cart" %>
  <% end %>
<% else %>
  It's out of stock
<% end %>
>>>>>>> 81e58ee444df7fd324d59bf7406827991b8c928d
