<div class="container details-main">
  <div class="row">

    <div class="col-md-3">
      <div class="cd-image">
        <%= attachment_image_tag @item,:item_image, :fill, 100, 100, class: "col-md-12 pull-left profile-thumb ", fallback: "no_image_big.jpg", alt: "Item Image" %>
      </div>
      <div class="cd-price">
        <p>￥ <%= @item.price %></p>
      </div>
      <div class="opinion-box">
        <h3 class="o-title">Opinion</h3>
        <p><%= @item.opinion %></p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="item-name-box">
        <h3 class="item-name"><%= @item.item_name %></h3>
      </div>
        <div id="item-detail-box">
          <dl>
            <dt>Artist:</dt>
            <dd><%= @item.artist.artist_name %></dd>

            <dt>Genre:</dt>
            <dd><%= @item.genre.genre_name %></dd>

            <dt>Label:</dt>
            <dd><%= @item.label.label_name %></dd>

            <dt>Release_date:</dt>
            <dd><%= @item.release_date %></dd>
          </dl>
        </div>

        <% @item.discs.each do |disc| %>
          <p class="main-disc-name"><%= disc.disc_name %></p>
            <table id="cd-detail-box">
              <tr>
                <th>Music Name</th>
                <th>Artist</th>
                <th>Genre</th>
              </tr>
              <% disc.music_names.each do |music| %>
              <tr>
                <td><%= music.music_name %></td>
                <td><%= music.artist.artist_name %></td>
                <td><%= music.genre.genre_name %></td>
              </tr>
              <% end %>
            </table>
        <% end %>
      </div>

    <div class="col-md-3">
      <div class="ready-order-box">
        <div class="ready-order">
          <p class="item-stock">Item Stock: <%= @item.stock %></p>

          <% if user_signed_in? && !current_user.admin? %>
          <div>
            <% if @item.stock == 0 %>
              <p>It's out of stock</p>
            <% elsif @item.stock == @cart_item_quantity %>
              <p>Can not add any more</p>
            <% else %>
              <%= form_for(@cart_item, url: add_item_path(@item.id) ) do |f| %>
                <p class="item-stock">Quantity:</p>
                <%= f.select :quantity, [*1..@item.stock - @cart_item_quantity] %>
                <%= f.submit "Add to cart", class: "btn-cart" %>
              <% end %>
            <% end %>
          <% end %>
      </div>

      <% if user_signed_in? && current_user.admin? %>
        <div>
        <%= link_to "Edit", edit_item_path(@item), class: "btn-lg btn-edit" %>
        <%= link_to "Destroy", item_path(@item), method: :delete, class: "btn-lg btn-des", "data-confirm" => "本当に消しますか?" %>
        </div>
      <% end %>

      <!-- favorite -->

      <% if user_signed_in? %>
        <% if @item.favorited_by?(current_user) %>
          <%= link_to item_favorites_path(@item), class: "btn-favorite col-xs-12", method: :delete do %>
            <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
            <%= @item.favorites.count %> favorit
          <% end %>
        <% else %>
          <%= link_to item_favorites_path(@item), class: "btn-favorite col-xs-12", method: :post do %>
            <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
            <%= @item.favorites.count %> favorit
          <% end %>
        <% end %>
      <% end %>

      <!-- favorite -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2">
        <!-- review -->

      <div>
        <h4>ALL Rewiew</h4>
        <div id="reviews_area">
        <% @reviews.each do |review| %>
        <% unless review.id.nil? %>
        <p class="r-name">Reviewer：<%= review.reviewer_name %></p>
        <hr class="r-hr">
        <p class="r-text">Review：<%= review.review_text %></p>
        <hr class="r-hr">

        <p><%= link_to 'Comment Delete', item_reviews_path(item_id: review.item_id, review_id: review.id), method: :delete %>
        </p>
        <% end %>
        <% end %>
        </div>

        <h4>Rewiew</h4>
        <%= form_with(model: [@item, @review], local: true ) do |form| %>
            <div class="r-comment">
            <%= form.text_field :reviewer_name, :placeholder => "Your Name" %>
            </div>
            <div class="r-comment">
            <%= form.text_area :review_text, :placeholder => "Your Comment" %>
            </div class="r-comment">
            <div class="actions">
            <%= form.submit "Comment" %>
            </div>
        <% end %>
      </div>
      <%= paginate @reviews, class: "pagenate" %>
        <!-- review -->
    </div>
  </div>
</div>