<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div>
        <%= attachment_image_tag @item,:item_image, :fill, 100, 100, class: "col-md-12 pull-left profile-thumb ", fallback: "no_image_big.jpg", alt: "Item Image" %>
      </div>
      <div>
        <p>￥ <%= @item.price %></p>
      </div>
      <div>
        <div>Opnion</div>
        <p><%= @item.opinion %></p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= @item.item_name %>
        </div>
        <div class="panel-body">
          <ul>
            <li>Artist:<%= @item.artist.artist_name %></li>
            <li>Genre:<%= @item.genre.genre_name %></li>
            <li>Label:<%= @item.label.label_name %></li>
            <li>Release_date:<%= @item.release_date %></li>
          </ul>
        </div>
      </div>
      <div>
        <% @item.discs.each do |disc| %>
          <%= disc.disc_name %>
          <% disc.music_names.each do |music| %>
            <%= music.music_name %>
            <p>Artist: <%= music.artist.artist_name %></p>
            <p>Genre: <%= music.genre.genre_name %></p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Cart</div>
        <div class="panel-body">
          <p>stock: <%= @item.stock %></p>
          <% if user_signed_in? && !current_user.admin? %>
          <div class="col-xs-4">
            <% if @item.stock == 0 %>
              <p>It's out of stock</p>
            <% elsif @item.stock == @cart_item_quantity %>
              <p>Can not add any more</p>
            <% else %>
              <%= form_for(@cart_item, url: add_item_path(@item.id) ) do |f| %>
                <%= f.select :quantity, [*1..@item.stock - @cart_item_quantity] %>
                <%= f.submit "Add to cart", class: "btn btn-success btn-sm" %>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>

      <% if user_signed_in? && current_user.admin? %>
        <div>
        <%= link_to "Edit", edit_item_path(@item), class: "btn-lg btn-default" %>
        <%= link_to "Destroy", item_path(@item), method: :delete, class: "btn-lg btn-default", "data-confirm" => "本当に消しますか?" %>
        </div>
      <% end %>

      <!-- favorite -->

      <% if user_signed_in? %>
        <% if @item.favorited_by?(current_user) %>
          <%= link_to item_favorites_path(@item), class: "btn-default col-xs-12", method: :delete do %>
            <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
            <%= @item.favorites.count %> favorit
          <% end %>
        <% else %>
          <%= link_to item_favorites_path(@item), class: "btn-default col-xs-12", method: :post do %>
            <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
            <%= @item.favorites.count %> favorit
          <% end %>
        <% end %>
      <% end %>

      <!-- favorite -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2">
        <!-- review -->

      <div>
        <h4>Rewiew</h4>
        <div id="reviews_area">
        <% @item.reviews.each do |review| %>
        <% unless review.id.nil? %>
        <p>Reviewer：<%= review.reviewer_name %></p>
        <p>Review：<%= review.review_text %></p>
        <p><%= link_to 'コメントを削除する', item_reviews_path(item_id: review.item_id, review_id: review.id), method: :delete %>
        </p>
        <% end %>
        <% end %>
        </div>
        <%= form_with(model: [@item, @review], local: true ) do |form| %>
            <div>
            <%= form.text_field :reviewer_name %>
            </div>
            <div>
            <%= form.text_area :review_text %>
            </div>
            <div class="actions">
            <%= form.submit "コメントをする" %>
            </div>
        <% end %>
      <%= paginate @reviews, class: "pagenate" %>
      </div>
        <!-- review -->
    </div>
  </div>
</div>