
<!-- 自動スライドショー -->
<div class="in">
  <img src="assets/img/images1.jpg">
  <img src="assets/img/images2.jpg">
  <img src="assets/img/images3.jpg">
  <img src="assets/img/images4.jpg">
  <img src="assets/img/images5.png">
</div>

<p class="sub-nav"> PICK UP CONTENTS</p>

<!-- 手動スライドショー -->
<div class="slider-container">
  <div class="slider clearfix">
    <div><img src="assets/img/slider1.jpg"></div>
    <div><img src="assets/img/slider2.jpg"></div>
    <div><img src="assets/img/slider3.jpg"></div>
    <div><img src="assets/img/slider1.jpg"></div>
    <div><img src="assets/img/slider2.jpg"></div>
    <div><img src="assets/img/slider3.jpg"></div>
  </div>
</div>



<p class="sub-nav"> MUSE TOP10</p>
  <div class="local-navbox">
    <nav class="local-nav clearfix">
      <ul class="local-navbar">
        <li class="local-nav-item active"> Monthy</li>
        <li class="local-nav-item"> Weekly</li>
      </ul>
    </nav>

    <ul class="rnk-content">
      <li>
        <% n = 1 %>
        <% @items_monthly.each do |item| %>
          <div class="rnk-item-container clearfix">
            <hr>
            <div class="rnk-main">
              <div class="item-rnk">
                <div class="lank"><%= n %></div>
              </div>
              <div class="rnk-item-details">
                <img src="assets/img/rnk1.jpg">
              </div>
              <div class="rnk-title">
                <p> <%= item.artist.artist_name %></p>
              </div>
              <div class="rnk-artist">
                <p><%= item.item_name %></p>
              </div>
            </div>
          </div>
        <% n += 1 %>
        <% end %>
      </li>

      <li class="hide">
        <% n = 1 %>
        <% @items_weekly.each do |item| %>
          <div class="rnk-item-container clearfix">
            <hr>
            <div class="rnk-main">
              <div class="item-rnk">
                <div class="lank"><%= n %></div>
              </div>
              <div class="rnk-item-details">
                <img src="assets/img/rnk1.jpg">
              </div>
              <div class="rnk-title">
                <p><%= item.artist.artist_name %></p>
              </div>
              <div class="rnk-artist">
                <p><%= item.item_name %></p>
              </div>
            </div>
          </div>
        <% n += 1 %>
        <% end %>
      </li>
    </ul>
  </div>

<div id="play">
  <audio preload="auto" id="sound" src="/assets/chainsmokers.mp3" autoplay>
  </audio>
</div>
