<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Muse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header >
      <div class="container">
      <nav class="nav navbar-nav navbar-left"><span>MUSE</span></nav>

      <nav>
          <div>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li>
              <%= link_to " HOME", root_path %>
              </li>
              
              <li>
              
              <%= link_to " SERVICE", items_about_path %>
              </li>
              <li>
              <%= link_to " MY PAGE", user_path(current_user.id) %>
              </li>

              <li>
              <%= link_to " カート", root_path %>
              </li>

              <li>
              
               <%= link_to " Logout", destroy_user_session_path, method:  :delete, class:"glyphicon glyphicon-log-out logout" %>
              </li>

              <li>
              <%= link_to " SEARCH", items_path %>
              </li>

             <% else %>

             <li>
             <%= link_to " HOME", root_path %>
            
             
             </li>
             <li>
             <%= link_to " SERVICE", items_about_path %>

             </li>

             <li>
              <div class="Modal_sing_up"> SING UP</div>
            </li>

             <li>
                <div class="Modal_sing_in"> LOG IN</div>
             </li>

            <li>
              <%= link_to " SEARCH", items_path %>
            </li>


             <% end %>
            </ul>
          </div>
      </nav>
    </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container">

      <nav>
          <div>
            <ul>
              <li>
              <%= link_to " PRIVACY POLICY", contacts_path %>
              </li>
              
              <li>
              
              <%= link_to " ABOUT US", contacts_about_path %>
              </li>
              <li>
              <%= link_to " TEAMS OF USE",contacts_term_path %>
              </li>

              <li>
              <%= link_to " CONTACT", new_contact_path %>
              </li>


            </ul>

            <div>@copyright MUSE</div>
          </div>
      </nav>
    </div>
    </footer>
  </body>
</html>
