<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <title>Muse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <header>
      <div class="container">
          <nav class="globnav navbar-left">
            <span class="logo"> MUSE.</span>
          </nav>

            <nav class="globnav navbar-right">
              <ul class="navbar-menu">

                <% if user_signed_in? %>

                <li class="header-nav-item">
                  <%= link_to " HOME", root_path %>
                </li>
                <li class="header-nav-item">
                  <%= link_to " SERVICE", items_about_path %>
                </li>
                <li class="header-nav-item">
                  <%= link_to " MY PAGE", user_path(current_user.id) %>
                </li>
                <li class="header-nav-item">
                  <%= link_to " カート", cart_path(current_cart) %>
                </li>

                <li class="header-nav-item">
                   <%= link_to 'LOG OUT' , destroy_user_session_path, method: :delete %>
                </li>
                <li class="header-nav-item">
                  <%= link_to " SEARCH", items_path %>
                </li>

                <% else %>

                <li class="header-nav-item">
                 <%= link_to " HOME", root_path %>
                </li>
                <li class="header-nav-item">
                 <%= link_to " SERVICE", items_about_path %>
                </li>
                <li class="header-nav-item">
                  <a><div id="modal-sign-up"> SIGN UP</div></a>
                  <%= render "devise/registrations/registrations_modal" %>
                </li>
                <li class="header-nav-item">
                  <a><div id="modal-sign-in"> LOG IN</div></a>
                  <%= render "devise/sessions/sessions_modal" %>
                </li>
                <li class="header-nav-item">
                  <%= link_to " SEARCH", items_path %>
                </li>
                <% end %>
              </ul>
            </nav>
        </div>
    </header>

    <main>
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

        <%= yield %>

    </main>

    <footer>
      <div class="container">
        <nav class="globnav">
            <ul class="navbar-menu">
              <li class="footer-nav-item">
                <%= link_to " PRIVACY POLICY", contacts_path %>
              </li>
              <li class="footer-nav-item">
                <%= link_to " ABOUT US", contacts_about_path %>
              </li>
              <li class="footer-nav-item">
                <%= link_to " TEAMS OF USE",contacts_term_path %>
              </li>
              <li class="footer-nav-item">
                <%= link_to " CONTACT", new_contact_path %>
              </li>
              <li class="footer-nav-item">
               <a> &#169; 2018 MUSE. </a>
              </li>
            </ul>

        </nav>
      </div>
    </footer>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
